; begin auth token
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:username=onebranch
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:_password=[bWFjdTZqcG9oZGRqd3piZnFpc29sdWprc2pod2llb3oydW5kYzR3NnkyMmZ6d2g0ZmtzYQo=]
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:username=onebranch
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:_password=[bWFjdTZqcG9oZGRqd3piZnFpc29sdWprc2pod2llb3oydW5kYzR3NnkyMmZ6d2g0ZmtzYQo=]
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/ 
                        
always-auth=true
