//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:_password=dXY0b3RzZzZ6aXk2bW81dmdoemlvZGx5bDdvNWZhZDNiZ3lzMnZlenl1aDRlcDZsNmVjcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:_password=aHZ3a3hxa3l6cng1b3F2ZDRvbmUzbWl0amNxcHBsZTdleWgyaTVndW9rcXZ1NGQ0aXdhcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:email=not-used@example.com
