; begin auth token

//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:_password=dXY0b3RzZzZ6aXk2bW81dmdoemlvZGx5bDdvNWZhZDNiZ3lzMnZlenl1aDRlcDZsNmVjcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AllPackages/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:_password=aHZ3a3hxa3l6cng1b3F2ZDRvbmUzbWl0amNxcHBsZTdleWgyaTVndW9rcXZ1NGQ0aXdhcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/:email=not-used@example.com
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:username=onebranch
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:_password=[bWFjdTZqcG9oZGRqd3piZnFpc29sdWprc2pod2llb3oydW5kYzR3NnkyMmZ6d2g0ZmtzYQo=]
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:username=onebranch
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:_password=[bWFjdTZqcG9oZGRqd3piZnFpc29sdWprc2pod2llb3oydW5kYzR3NnkyMmZ6d2g0ZmtzYQo=]
//onebranch.pkgs.visualstudio.com/_packaging/adil-test%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/azurefrontdoor/_packaging/AzureFrontDoor/npm/registry/ 
                        
always-auth=true
